
.idea/vcs.xml
.idea/paddlenlp_learning.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/other.xml
textpair/paws-x-zh/train.tsv
textpair/paws-x-zh/test.tsv
textpair/paws-x-zh/License.pdf
textpair/paws-x-zh/dev.tsv
textpair/paws-x-zh.zip
textpair/lcqmc/User_Agreement.pdf
textpair/lcqmc/train.tsv
textpair/lcqmc/test.tsv
textpair/lcqmc/License.pdf
textpair/lcqmc/dev.tsv
textpair/lcqmc.zip
textpair/bq_corpus/User_Agreement.pdf
textpair/bq_corpus/train.tsv
textpair/bq_corpus/test.tsv
textpair/bq_corpus/License.pdf
textpair/bq_corpus/dev.tsv
textpair/bq_corpus.zip
lcqmc.tsv
checkpoint/model_11/vocab.txt
checkpoint/model_11/tokenizer_config.json
checkpoint/model_11/model_state_pdparams
competition/NLPCC14-SC/train.tsv
competition/NLPCC14-SC/test.tsv
competition/NLPCC14-SC/License.pdf
competition/ChnSentiCorp/train.tsv
competition/ChnSentiCorp/test.tsv
competition/ChnSentiCorp/License.pdf
competition/ChnSentiCorp/dev.tsv
competition/__pycache__/my_utils.cpython-38.pyc
